@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
  --color-foreground: var(--color-foreground);
  --color-background: var(--color-background);
}

@layer base {
  :root {
    --color-background: oklch(96.7% 0.001 286.375);
    --color-foreground: oklch(14.1% 0.005 285.823);
  }

  .dark {
    --color-background: oklch(14.1% 0.005 285.823);
    --color-foreground: oklch(96.7% 0.001 286.375);
  }

  * {
    @apply focus-visible:outline-foreground focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dashed;
  }

  body {
    @apply bg-background text-foreground relative min-h-dvh w-full font-serif leading-tight tracking-tight antialiased;
  }

  ::selection {
    @apply bg-foreground text-background;
  }
}
